<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10" xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4" xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5" xmlns:desktop10="http://schemas.microsoft.com/appx/manifest/desktop/windows10/10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap uap3 uap10 desktop desktop4 desktop5 desktop10 rescap">
  <Identity Name="LeslieFerch.RightClickTools" Publisher="CN=&quot;Open Source Developer, Leslie Ferch&quot;" Version="2.0.0.0" />
  <Properties>
    <DisplayName>Right-Click Tools</DisplayName>
    <PublisherDisplayName>Open Source Developer, Leslie Ferch</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <Applications>
    <Application Id="RightClickTools" Executable="RightClickTools.exe" uap10:TrustLevel="mediumIL" uap10:RuntimeBehavior="win32App">
      <uap:VisualElements DisplayName="Right-Click Tools Context Menu Handler" Description="Context menu handler DLL installed via MSIX" BackgroundColor="transparent" Square150x150Logo="Images\Square150x150Logo.png" Square44x44Logo="Images\Square44x44Logo.png" AppListEntry="none">
      </uap:VisualElements>
      <Extensions>
        <!-- File Explorer Context Menu Registration -->
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop5:ItemType Type="Directory">
              <desktop5:Verb Id="RightClickTools" Clsid="AB57CE13-DACB-4129-952B-8D5209135772" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory\Background">
              <desktop5:Verb Id="RightClickTools" Clsid="AB57CE13-DACB-4129-952B-8D5209135772" />
            </desktop5:ItemType>
            <desktop10:ItemType Type="Drive">
              <desktop10:Verb Id="RightClickTools" Clsid="AB57CE13-DACB-4129-952B-8D5209135772" />
            </desktop10:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>
        <!-- COM Server Registration - Surrogate DLL -->
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer DisplayName="Right-Click Tools Context Menu">
              <com:Class Id="AB57CE13-DACB-4129-952B-8D5209135772" Path="RightClickToolsHandler.dll" ThreadingModel="STA" />
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="unvirtualizedResources" />
    <rescap:Capability Name="allowElevation" />
  </Capabilities>
</Package>